body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background: linear-gradient(45deg, #413b3b, #1ece4a);
    padding: 20px;
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #032e07;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2a2b2a;
}

p {
    margin-top: 20px;
    font-size: 18px;
}
