body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    background: linear-gradient(45deg, #413b3b, #1ece4a);
    padding: 20px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #032e07;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;
}

#error-msg {
    color: rgb(0, 0, 0);
}
